<html>
    <head>
        <title>Sign up page</title>
    </head>
    <body>
        <h1>Login </h1>
        <form action="/create-session" method="POST">
        <input type="text" placeholer="username" name="username" required>
        <input type="password" placeholder="Password" name="password" required>
        <button type="submit">Submit</button><br><br>
        <a href="/signup">Create a account</a>

        <form>
    </body>
</html>