<html>
    <head>
        <title>Sign up page</title>
        <style>
            input{
                margin: .5rem;
            }
        </style>
    </head>
    <body>
        <h1>Create a Account</h1>
        <form action="/create-account" method="POST">
            <input type="text" placeholder="Name" name="name"><br>
            <input type="text" placeholder="Username" name="username"><br>
            <input type="text" placeholder="Password" name="password"><br>
            <input type="text" placeholder="Confirm Password" name="confirm-password"><br>
            <button type="submit">Submit</button><br>
        <form>

        <a href="/">Login to account</a>
    </body>
</html>